:root{
    --bg-color: rgb(255, 255, 255);
    --color: #2D66AB;
    --card-color: rgb(23,23,23);
  }
  

body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--color);
    font-family: 'Righteous', 'Questrial', monospace;
    font-weight: 50;
    background-image: url(img/neuesgitter.png);
    background-repeat: repeat;
    background-size:65px;
    background-position: -15px -20px;
    box-sizing: border-box; 

}


.content {
  flex: 1;
}

/* INDEX Main */

.Navigation {

    position: center;
    overflow: hidden;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    color: rgb(146, 180, 255);
    background-color: #2D66AB ;
    border-radius: 0px 0px 18px 18px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}


/* .Navigation2 {

  position: right;
  overflow: hidden;
  background-color: var(--bg-color);
  display: flex;
  align-items: right;
  color: rgb(146, 180, 255);
  background-color: #2D66AB ;
  border-radius: 0px 0px 18px 18px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
} */

a{ text-decoration: none;
color: inherit;}


h1 {
    font-weight: 1000;   
    font-size: xxx-large;
    color: rgb(62, 62, 255);
}

h1:hover {text-shadow: 0 0 5px #8684ea;}
   
.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

h2 {
  color: #2D66AB;
   font-size: xxx-large;
    font-weight: lighter;
    margin: 15px;
}

li {
   display: inline;
   padding: 1em;
   color:  rgb(255, 255, 255);
   list-style-type: none;
   text-decoration: none;
}


.intro {

    background-color: hsl(0, 0%, 100%);
     padding: 60px;
     margin-top: 10em;
}

.zwischenraum{
    padding: 1em;
}

.textteil {
    padding: 30px;
    margin-left: 40px; margin-right: 40px;
    color: rgb(146, 180, 255);
    font-size: larger;
    background-color: black;
    border-radius: 20px;
}

/* Buttons */

.ButtonReihe{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 40px;
}

.Button1{
        position: relative;
        width: 20rem;
        height: 2rem;
        border: none;
        border-radius: 3rem;
        cursor: pointer;
        background: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
        font-size: 0.8rem;
        font-weight: 100;
        font-family: 'Righteous', sans-serif;
        letter-spacing: 2px;
        transition: all 0.3s;

        margin-top: 20px;
        margin-left: 20px;
        color: #FFBF28;
        text-decoration: none;
       
}

.Button1::before{
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        border-radius: 3rem;
        width: 100%;
        height: 100%;
        padding: 2px;
        background: #FFBF28;
        z-index: -1;
        color: #FFBF28;
        text-decoration: none;
}

.Button1:hover {
        background: #FFBF28;
        color: white;
        font-size: 0.9rem;
        width: 40em;
        margin-left: 20px;

  }

  .Button2{
    position: relative;
    width: 20rem;
    height: 2rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    background: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
    font-size: 0.8rem;
    font-weight: 100;
    font-family: 'Righteous', sans-serif;
    letter-spacing: 2px;
    transition: all 0.3s;

    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    color: #FF8E61;
}

.Button2::before{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 3rem;
    width: 100%;
    height: 100%;
    padding: 2px;
    background: #FF8E61;
    z-index: -1;
    color: #FF8E61;
}

.Button2:hover {
    background: #FF8E61;
    color: white;
    font-size: 0.9rem;
    width: 40em;
}

.Button3{
    position: relative;
    width: 20rem;
    height: 2rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    background: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
    font-size: 0.8rem;
    font-weight: 100;
    font-family: 'Righteous', sans-serif;
    letter-spacing: 2px;
    transition: all 0.3s;

    margin-top: 20px;
    margin-right: 20px;
    color: #FF8284;
}

.Button3::before{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 3rem;
    width: 100%;
    height: 100%;
    padding: 2px;
    background: #FF8284;
    z-index: -1;
    color: #FF8284;
}

.Button3:hover {
    background: #FF8284;
    color: white;
    font-size: 0.9rem;
    width: 40em;
}



  /* Cards */


.cardscontainer {
  background-color: #ffffff;
  border-radius: 2rem;
  width: 960px;
  height: 960px;
 margin-left: auto;
 margin-right: auto;
  border: 2px solid#2D66AB;
  align-content: center;
  
  justify-content: center;
}

.reihe1{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
 

}

.reihe2{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.reihe3{
  display: flex;
    align-items: center;
    justify-content: center;
}

.CardOben{
width: 320px;
height: 320px;
flex-shrink: 0;
margin-top: 50px;
margin-right: 15px ;
border-radius: 15px;
background-color: #2D66AB;
display: flex;
flex-wrap: wrap;
align-items: center ;       
justify-content: center;
}

.Card{
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  margin-top: 15px;
  margin-right: 15px ;
  margin-left: 15px;
  border-radius: 15px;
  background-color: #2D66AB;
  display: flex;
  flex-wrap: wrap;
  align-items: center ;       
  justify-content: center;
  }
    


.flip-card{
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  margin-top: 15px;
  margin-right: 7.5px ;
  margin-left: 7.5px;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center ;       
  justify-content: center;
  perspective: 1000px;
  font-family: sans-serif;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateX(-180deg);
}

.flip-card:hover

.flip-card-front, .flip-card-back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2rem;
}

  .flip-card-front, .flip-card-back2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 2rem;
  }
  
  .flip-card-front {
    
  }

  .flip-card-back {
    background: #ffffff;;
    color: #FF8284;;
    transform: rotateX(-180deg);
    border: 2px solid #FFBF28;
    align-content: center;

  }

  .flip-card-back2 {
    background: #ffffff;;
    color: #FF8284;;
    transform: rotateX(-180deg);
    border: 2px solid #2D66AB;
    align-content: center;

  }
  
  .projektbild {
    width:80%;
    height:80%;
    object-fit: contain;
    vertical-align: middle;

  }
  .projekt2bild {
    width:80%;
    height:60%;
    object-fit: contain;
    vertical-align: middle;
  }

  .flip-card-back a{
    align-content: center;

  }


/* ABOUT */

.aboutcontainer{
  align-items: top;
  display: flex;
}

    .logobild{
      float: left;
      margin-left: 70px;
      margin-right: 30px; 
      cursor: pointer;
    }

    .clickable-image {
      cursor: pointer; }

    .bildsize{
      width: 400px;
      margin-left: 20px;
    }
    .textcontainer{
      
      background-color: #ffffff;
      border-width: 10px;
      border-radius: 15px;
      border: 3px solid #2D66AB;
      box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
      margin: 20px;
      padding: 50px;
    }


  .speechbubble{
    background: url(img/speechbubble.svg);
    width:611.814px;
    height:284.5px;
    background-repeat: no-repeat;
    margin-top: 70px;
    padding: 00px 20px 00px 40px;
    box-sizing: border-box; 
  }


  .speechbubble p{
    font-family: 'Questrial' ;
    margin-left: 15px;
    margin-right: 25px;
  }

    .abouttext{
      color: #2D66AB;
      text-shadow: #ffffff;
      font-size: 30px;
      font-weight: lighter;
      margin-right: 50px;
      font-family: 'Questrial';
      padding: 30px;
    }
    
    .footer {
    position: center;
    overflow: hidden;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: #2D66AB ;
    border-radius: 18px 18px 0px 00px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    text-decoration: none;
    }

    .footer p{
      padding: 10px 20px;
      font-family: 'Questrial';
      font-size: small;
    }


    /* contact */

    .textcontainercontact {
      background-color: #ffffff;
      padding: 40px 20px;
      background-color: #ffffff;
      border-width: 10px;
      border-radius: 15px;
      border: 3px solid #2D66AB;
      box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
      margin: 50px 50px 10px 50px;
    }

    .textcontainercontact h2 {
      font-size: 80px;
      padding: 80px 20px 80px 20px;
    
    }

    .bluetext {
      background-color: #2D66AB;
      padding: 50px;
      border-width: 10px;
      border-radius: 15px;
      border: 3px solid #2D66AB;
      box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
      margin: 20px 50px;
      color: #ffffff;
      font-family: 'Questrial';
    }


    /* MUNDFAUL */


    .reihegallerie{
      margin: 20px 00px 00px 00px ;
      align-items: center;
      text-align: center;

    }

    .mundfaulfoto{
      width:30%;
        height:60%;
        object-fit: contain;
        vertical-align: middle;
        border-radius: 20px;
        padding: 15px;
        
    }

    .mundfaulschrift{
      font-size: 160px;
      text-align: center;
      margin: 00px 00px;
    }

    .textcontainerprojekt{
      background-color: #ffffff;
      border-width: 10px;
      border-radius: 15px;
      border: 3px solid #2D66AB;
      box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
      margin: 0px 250px;
      padding: 20px 50px;
    }

    .textcontainerprojekt p{
      font-family: 'Questrial';
      text-align: center;
      font-size: larger;
    }

    .intechfoto{
      width:30%;
      height:60%;
      object-fit: contain;
      vertical-align: middle;
      border-radius: 10px;
      padding: 5px;
      
    
    }

    .skatefoto{
      width:30%;
        height:60%;
        object-fit: contain;
        vertical-align: middle;
        border-radius: 05px;
        border: 2px solid #df301d;
    }
    .skatefoto2{
      width:30%;
        height:60%;
        object-fit: contain;
        vertical-align: middle;
        border-radius: 05px;
        border: 2px solid #000000;
    }

    .hundertfoto{
      width:70%;
        height:60%;
        object-fit: contain;
        vertical-align: middle;
        border-radius: 05px;
    }
    .cheepfoto{
      width:50%;
        height:60%;
        object-fit: contain;
        vertical-align: middle;
        border-radius: 05px;
        background-color: #ffffff;
        border:2px solid #000000;
        margin-bottom: 15px;
    }
  .anderefoto {
    width:20%;
    height:10%;
    object-fit: contain;
    vertical-align: middle;
    border-radius: 05px;
  }

  .stadtfoto {
    width:50%;
    height:10%;
    object-fit: contain;
    vertical-align: middle;
    border-radius: 05px;

  }

  .stadtfoto2 {
    width:45%;
    height:10%;
    object-fit: contain;
    vertical-align: middle;
    border-radius: 05px;
    margin: 0px 7.5px 0px 7.5px;
  }

  .logofoto {
    width:40%;
    height:10%;
    object-fit: contain;
    vertical-align: middle;
    border-radius: 05px;
  }

    
.mundfaulfotoG { 
  width:30%;
  height:60%;
  object-fit: contain;
  vertical-align: middle;
  border-radius: 05px;
  border: 2px solid #FFBF28;
  margin-left: 15px;
  margin-right: 15px;
}


/* ALL PROJECTS */

  .bluetext2 {
    background-color: #2D66AB;
    padding: 10px 20px;
    border-radius: 2rem;
    /* border: 3px solid #ffffff; */
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 20px;
    color: #ffffff;
    font-family: 'Questrial';
    height: 280px;
    width: 900px;
  }

  .allprojectsreihe{
    align-items: top;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    
  }

  .bluetext2 h2{
    color: #ffffff;
    font-family: 'Righteous';
    font-size: 80px;
  }
  .bluetext2 p{
    color: #ffffff;
    padding: 20px;
  }

  .allprojectsfotosP {
    background: #ffffff;;
    color: #FF8284;
    border: 2px solid #FF8284;
    width: 300px;
    height: 300px;
    border-radius: 2rem;      
    align-content: center;
    justify-items: center;
    text-align: center;
  }

  .allprojectsfotosO {
    background: #ffffff;
    color: #FF8284;
    border: 2px solid #FF8E61;
    width: 300px;
    height: 300px;
    border-radius: 2rem;      
    align-content: center;
    justify-items: center;
    text-align: center;
  }

  .allprojectsfotosG {
    background: #ffffff;
    color: #FF8284;
    border: 2px solid #FFBF28;
    width: 300px;
    height: 300px;
    border-radius: 2rem;      
    align-content: center;
    justify-items: center;
    text-align: center;
  }

  .allprojectsfotosB {
    background: #ffffff;;
    color: #FF8284;
    border: 2px solid #2D66AB;
    width: 300px;
    height: 300px;
    border-radius: 2rem;      
    align-content: center;
    justify-items: center;
    text-align: center;
  }

 .fotob{
      height: 70%;
    }


.space{
  height: 100px;
}